.tun {
    /* background: linear-gradient(90deg, rgba(124, 67, 87, 1) 0%, rgba(65, 4, 47, 1) 100%); */
    color: white;
    background-color: black;
}

.kun {
    background-color: white;
    color: black;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 10px;
}