.hero {
    width: 100%;
    padding: 0px 20px;

}

.heroBanner_container {
    max-width: 1600px;
    margin: 0 auto;
}

.hero_content {
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroBanner_title {
    max-width: 700px;
    font-size: 48px;
    margin-bottom: 50px;
}

.heroBanner_text {
    font-size: 18px;
    max-width: 549px;
    line-height: 25px;
}

.hero_images {
    width: 500px;
    border-radius: 5%;
}

@media only screen and (max-width:1200px) {

    .hero_content {
        padding: 50px 50px;
    }

    .heroBanner_title {
        font-size: 40px;
    }


}

@media only screen and (max-width:1000px) {

    .hero_content {
        padding: 50px 0px;
    }

    .heroBanner_title {
        font-size: 34px;
    }

    .hero_images {
        max-width: 100%;
    }
}

@media only screen and (max-width:800px) {

    .hero_content {
        padding: 150px 0px;
        text-align: center;
    }

    .heroBanner_title {
        max-width: 100%;
        font-size: 40px;
    }

    .heroBanner_text {
        max-width: 100%;
    }

    .hero_images {
        display: none;
    }
}


@media only screen and (max-width:600px) {

    .hero_content {
        padding: 100px 0px;
    }

    .heroBanner_title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .heroBanner_text {
        max-width: 100%;
        font-size: 16px;
    }

}

@media only screen and (max-width:400px) {

    .hero_content {
        padding: 50px 0px;
    }

    .heroBanner_title {
        font-size: 22px;
    }

    .heroBanner_text {
        font-size: 14px;
    }
}