.header {
    width: 100%;
    padding: 0px 20px;
}

.header_container {
    max-width: 1600px;
    margin: 0 auto;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.header_logo {
    width: 90px;
    cursor: pointer;
}

.header_link_group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_link_text {
    list-style: none;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    color: white;
}

.header_link_text:hover,
.header_contact_text:hover {
    color: dodgerblue;
    transition: .5s;
}

.header_link_white {
    color: black;
}

.header_contact_group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_toggle_btn {
    width: 80px;
    height: 40px;
    border: 1px solid #aaaaaa;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2px;
}

.header_toggle_sun {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}

.header_toggle_moon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}

.sun {
    background-color: #6911AD;
    color: white;
}

.moon {
    background-color: #6911AD;
    color: white;
}

.header_contact_text {
    color: white;
    text-decoration: none;
    transition: .5s;
}

.header_contact_black {
    color: black;
}

.header_signup_btn {
    width: 168px;
    height: 45px;
    border: 1px solid transparent;
    color: white;
    background-color: #6911AD;
    cursor: pointer;
    transition: .5s;
    font-size: 16px;
    border-radius: 7px;
}

.header_signup_btn:hover {
    transition: .5s;
    background-color: dodgerblue;
}

.header_menu_icons {
    font-size: 25px;
    cursor: pointer;
    transition: .5s;
    display: none;
}

.header_menu_icons:hover {
    color: dodgerblue;
    transition: .5s;
}

@media only screen and (max-width:1200px) {
    .header_contact_content {
        display: none;
    }
}

@media only screen and (max-width:1000px) {
    .header_content {
        padding: 10px 0px;
    }
}

@media only screen and (max-width:900px) {

    .header_contact_content,
    .header_toggle_btn {
        display: none;
    }

    .header_signup_btn {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
}

@media only screen and (max-width:768px) {

    .header_signup_btn,
    .header_link_group {
        display: none;
    }

    .header_menu_icons {
        display: block;
    }
}